body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

.cta {
  background-color: #ffcc00;
  text-align: center;
  padding: 40px;
  margin: 20px 0;
  border-radius: 10px;
}

.cta h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.cta p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta a {
  text-decoration: none;
  color: #fff;
  background-color: #0073e6;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
}

.cta a:hover {
  background-color: #005bb5;
}

/* Estilo do Formulário */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

form label {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

form input[type="email"] {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 1em;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #0073e6;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #005bb5;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

/* Estilo da Notificação de Cookies */
.CookieMessage {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #121212;
  z-index: 999;
  display: none;
}

.CookieMessage-content {
  color: white;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 12px;
}

.CookieMessage-content a {
  color: white;
}

.CookieMessage-content p {
  margin: 0 0 20px 0;
}

.CookieMessage-button {
  background: #00C2FF;
  display: inline-block;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

.CookieMessage-button:hover {
  background: #5cd9ff;
}
